.dashboard-wrapper {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

/* Top Navbar */
.top-navbar {
    color:white;
    width: 100vw;
    background:#4b4e53;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.brand {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin:0rem 1rem 0rem 6rem;
    width:20%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:50%;
    padding:8px;
    background-color: #6b4ce6;
    border-radius: 3rem;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border-radius: 2rem;
}

.nav-links a:hover{
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
    border:none;
    background-color: white;
    color:#4b4e53;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color:white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 2rem;
    transition: 0.2s ease;
}

.nav-link.active {
    background-color: white;
    color: #4b4e53;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.nav-link:hover {
    background-color: white;
    color:#4b4e53;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width:30%;
    
}

.logout-btn {
    padding: 8px 24px;
    border-radius: 16px;
    background: #f5f5f5;
    cursor: pointer;
    color:#4b4e53;
    border:none;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.logout-btn:hover{
    color:white;
    background-color: black;
    border:none;
}

/* PAGE CONTENT */
.page-container {
    margin: 4rem 7rem 5rem 7rem;
}

.page-title {
    font-size: 44px;
    margin: 0px;
    font-weight: bold;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-sub {
    margin-top: 16px;
    font-size: 21px;
    color: #666;
}

/* ACTION BUTTONS */
.action-buttons {
    margin-top: 28px;
    display: flex;
    gap: 14px;
}

.purple-btn {
    background: #6b4ce6;
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.purple-btn:hover{
    box-shadow: none;
}

.gray-btn {
    background: #fff;
    border: 2px solid #ccc;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    color:black;
}

.gray-btn:hover{
    border:2px solid #ccc;
    box-shadow: none;
}

/* STATS GRID */
.stats-grid {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.stat-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 12px;
    border: 1px solid #4b4e53;
    height:8rem;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.4);
}

.stat-card:hover{
    box-shadow:none;
}

.stat-label {
    font-size: 22px;
    font-weight: bold;
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stat-number {
    font-size: 48px;
    font-weight: bold;
    color:#6b4ce6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Upcoming Events */
.upcoming-events-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    margin-top: 4rem;
    font-size: 30px;
    font-weight: bold;
}

.upcoming-events-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(260px, auto);
    gap: 28px;
}

.event-item {
    width: 100%;
    height: 450px;
    background: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    border: 1px solid #dcdcdc;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.event-item-split {
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.event-item-image {
    width: 100%;
    height: 55%;
    position: relative;
}

.event-item-info {
    width: 80%;
    height: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.event-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-status-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #4caf50;
    color: white;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.event-category-badge {
    background: black;
    color: white;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    width:fit-content;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.float-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.event-item-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0rem 0rem 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.event-item-meta {
    font-size: 12px;
    line-height: 1.3;
    color: black;
}

.event-actions-row {
    display: flex;
    gap: 1rem;
    margin-top: 6px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.event-details-btn {
    padding: 8px 14px;
    border-radius: 8px;
    background: #6b4ce6;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
}

.event-manage-btn {
    padding: 8px 14px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background: #ffffff;
    border: 2px solid #6b4ce6;
    color: #6b4ce6;
    cursor: pointer;
    font-weight: bold;
}

.event-details-btn:hover{
    box-shadow:none;
}

.event-manage-btn:hover{
    box-shadow: none;
}

.view-all-btn {
    float: right;
    font-size: 14px;
    margin-top: -20px;
    color: white;
    cursor: pointer;
}

.event-capacity-text{
    color:black;
}